
@{
    ViewBag.Title = "IndexThanhToan";
    Layout = "~/Views/Share/TrangChuLayout.cshtml";
}

<h2>Thanh Toan Thanh Cong</h2>
<p><a href="@Url.Action("IndexHome","Home")">Tiep tuc mua hang</a></p>

